.landing-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px 1fr;

  .navbar {
    width: 150px;
  }

  .main {
    width: calc(100vw - 150px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .navbar {
      width: 100vw;
      height: 60px;
      display: flex;
    }
  }
}
